.contenu {
    width: 900px;
    margin: 0px auto;
    padding: 10px auto;
    /* background-color: lightskyblue; */
}

.detail {
    /* background-color: palevioletred; */
    height: 200px;
}

.detail img {
    height: 100%;
    float: left;
    border-radius: 50%;
}

.liste_detail {
    list-style-type: none;
    /* background-color: peru; */
    float: left;
    margin-top: 25px;
}

.cv_section {
    /* background-color: skyblue; */
    padding-bottom: 20px;
}

h1,
h2 {
    text-align: center;
}

hr {
    border-color: tomato;
}